.container-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  height: auto;
  padding: 80px 10px;

}

.title-section-2 {
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
  color: black;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }

  @media screen and (min-width: 1280px) {
    font-size: 4rem;
  }
}

.nl{
  display: inline;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.sub-title-section-2 {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 50px;
}

.benefit-wrapper {
  width: 100%;
  height: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px 20px;
  row-gap: 20px;
  background-color: #8A86E1;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    width: 60%;
  }

  @media screen and (min-width: 1600px) {
    width: 50%;
  }
}

.benefit-left,
.benefit-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;


  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.divider-section-2 {
  width: 100%;
  height: 1px;
  background-color: black;

  @media screen and (min-width: 768px) {
    width: 2px;
    height: 230px;
    background-color: black;
  }
}

.benefit-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 10px 0 20px;
}

.benefit-paragraph {
  font-size: 1rem;
  width: 236px;
  color: black;
  text-align: center;
  margin: 0 0 20px;
}

.benefit-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.benefit-icon{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
